* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("../images/404_Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}
