* {
  padding: 0;
  margin: 0;
}

body {
}

.scanner-container {
  background-color: var(--scanner-area);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  gap: 1rem;
  padding: 15px 15px;
  border-radius: 16px;
}

.scanner-container #reader {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scanner-container #result {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: #ecf0f1ec;
  border: 1px solid #bdc3c7;
}
