@import url("./importants.css");

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.container {
  background: rgba(248, 248, 238, 0.95);
  backdrop-filter: blur(12px);
  width: 500px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.container_header {
  background-color: transparent;
  width: 100%;
  height: 150px;
  position: relative;
}

.container_header .logo {
  background-image: url("../images/initial_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -5%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.video_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.user_type {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user_type button {
  flex: 1;
  border-style: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  transition: opacity 200ms;
  border-radius: 8px;
}

.user_type button:nth-child(1) {
  background-color: #6bb048; /* lighter/brighter green */
}

.user_type button:nth-child(2) {
  background-color: var(--second-bg-color); /* #684c32 - brown */
}

.user_type button:nth-child(3) {
  background-color: #3d7326; /* darker green */
}

.user_type button:hover {
  opacity: 90%;
}
